pkgbase = stripe-cli-bin
	pkgdesc = A command-line tool for Stripe
	pkgver = 1.21.3
	pkgrel = 1
	url = https://stripe.com/docs/stripe-cli
	arch = x86_64
	license = Apache
	conflicts = stripe-cli
	source = https://github.com/stripe/stripe-cli/releases/download/v1.21.3/stripe_1.21.3_linux_x86_64.tar.gz
	sha256sums = 31afcd0fe67e2a6652f45559151fdac78181074df00ed9c7b70c48c5eb2ce298

pkgname = stripe-cli-bin
