pkgbase = stripe-cli-bin
	pkgdesc = A command-line tool for Stripe
	pkgver = 1.19.5
	pkgrel = 2
	url = https://stripe.com/docs/stripe-cli
	arch = x86_64
	license = Apache
	conflicts = stripe-cli
	source = https://github.com/stripe/stripe-cli/releases/download/v1.19.5/stripe_1.19.5_linux_x86_64.tar.gz
	sha256sums = 12e0d482e4e606f753afd53723b55de35da2aeded7024d29369f021167b79460

pkgname = stripe-cli-bin
